// footer start
if footer_dark
  footer.footer.footer-dark
       .container-fluid
            .row
                .col-md-6.footer-copyright
                    p.mb-0.f-w-600 Copyright 2023 © wool theme by pixelstrap
                .col-md-6.text-end
                    p.mb-0.f-w-600 Hand crafted & made with
                      svg.footer-icon
                        use(href='../assets/svg/icon-sprite.svg#heart')                      

else if footer_fix
  footer.footer.footer-fix
       .container-fluid
            .row
                .col-md-6.footer-copyright
                    p.mb-0.f-w-600 Copyright 2023 © wool theme by pixelstrap
                .col-md-6.text-center
                    p.mb-0.f-w-600 Hand crafted & made with
                      svg.footer-icon
                        use(href='../assets/svg/icon-sprite.svg#heart')     
else
  footer.footer
       .container-fluid
            .row
                .col-md-6.footer-copyright
                    p.mb-0.f-w-600 Copyright 2023 © wool theme by pixelstrap  
                .col-md-6.text-end
                    p.mb-0.f-w-600 Hand crafted & made with
                      svg.footer-icon
                        use(href='../assets/svg/icon-sprite.svg#heart')                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
