- var apex                  = true;
- var theme_customizer      = true;
- var dashboard_2           = true;
- var animate               = true;
- var page_datatable        = true;
- var datatable             = true;
- var page_datatable1       = true;
- var wow                   = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var scrollbar             = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        //- include ../../components/toggle-icon
        .page-title.w-auto
          +breadcrumb(['Dashboard','CRM'],'CRM Dashboard')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid         
            .page-title
              .row
                include ../../components/sub-header
                +breadcrumb(['Dashboard',' CRM'],'CRM Dashboard')
          // Container-fluid starts
          .container-fluid.ecommerce-dashboard  
            .row
              .col-sm-12   
                .row 
                  .col-xxl-9.col-lg-8.box-col-8e 
                    .row
                      .col-sm-4
                        .card.widget-1 
                          .card-header.card-no-border.pb-0 
                            .header-top
                              h3 $ 4,875
                              .dropdown
                                button#dropdownMenuButton4.btn.yearly(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                  i(data-feather="more-horizontal")
                                .dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownMenuButton4')
                                  a.dropdown-item(href='#') Today
                                  a.dropdown-item(href='#') Tomorrow
                                  a.dropdown-item(href='#') Yesterday
                          .card-body.pt-0 
                            p.mb-2.f-w-700 All Order
                            .progress
                              .progress-bar.bg-primary(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                            p.f-w-600 +24% total Orders compared last year
                      .col-sm-4 
                        .card.widget-1 
                          .card-header.card-no-border.pb-0 
                            .header-top
                              h3 162
                              .dropdown
                                button#dropdownMenuButton4.btn.yearly(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                  i(data-feather="more-horizontal")
                                .dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownMenuButton4')
                                  a.dropdown-item(href='#') Today
                                  a.dropdown-item(href='#') Tomorrow
                                  a.dropdown-item(href='#') Yesterday
                          .card-body.pt-0 
                            p.mb-2.f-w-700 Return Item
                            .progress
                              .progress-bar.bg-secondary(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                            p.f-w-600 +24% total Retun compared last year
                      .col-sm-4  
                        .card.widget-1 
                          .card-header.card-no-border.pb-0 
                            .header-top
                              h3 $ 4,995
                              .dropdown
                                button#dropdownMenuButton4.btn.yearly(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                  i(data-feather="more-horizontal")
                                .dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownMenuButton4')
                                  a.dropdown-item(href='#') Today
                                  a.dropdown-item(href='#') Tomorrow
                                  a.dropdown-item(href='#') Yesterday
                          .card-body.pt-0 
                            p.mb-2.f-w-700 Unit Sold
                            .progress
                              .progress-bar.bg-tertiary(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                            p.f-w-600 +24% total Return compared last year
                      .col-sm-12
                        .card.position-relative
                          .card-header.card-no-border.pb-0 
                            .header-top
                              h3 Monthly sales & views (Jun 2024)
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    div
                                      i.icon-settings
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                          .card-body.pt-0
                            #salse-overview
                            .chart-value 
                              .d-flex.gap-2.align-items-center  
                                h6
                                  span.bg-primary 
                                | Total Sales
                                h6 
                                  span.bg-secondary
                                |  Average
                  .col-xxl-3.col-lg-4.box-col-4
                    .card
                      .card-header.card-no-border.pb-0 
                        .header-top
                          h3 Recent Activity
                          .card-header-right
                            ul.list-unstyled.card-option
                              li
                                div
                                  i.icon-settings
                              li
                                i.view-html.fa.fa-code
                              li
                                i.icofont.icofont-maximize.full-card
                              li
                                i.icofont.icofont-minus.minimize-card
                              li
                                i.icofont.icofont-refresh.reload-card
                              li
                                i.icofont.icofont-error.close-card
                      .card-body
                        .recent-activity
                          .d-flex.gap-4.active-status
                            span.bg-primary
                            h5 Today
                          .d-flex.gap-2 
                            .flex-shrink-0  
                              img(src="../assets/images/dashboard-2/user/1.png", alt="user") 
                            .flex-grow-1
                              p 2hrs Ago
                              span.mb-0 Fashion fosters cliches of beauty, but I want to tear them apart.
                              .d-flex.gap-2
                                img.rounded(src="../assets/images/dashboard-2/product/1.png", alt="product") 
                                img.rounded(src="../assets/images/dashboard-2/product/2.png", alt="product") 
                                img.rounded(src="../assets/images/dashboard-2/product/3.png", alt="product") 
                          .d-flex.gap-2 
                            .flex-shrink-0  
                              img(src="../assets/images/dashboard-2/user/2.png", alt="user") 
                            .flex-grow-1
                              p 5 hrs  Ago
                              span Fashion is to please your eye. Shapes and proportions are for your intellect.
                          .d-flex.gap-4.active-status
                            span.bg-secondary
                            h5 25 Oct,2022
                          .d-flex.gap-2 
                            .flex-shrink-0  
                              img(src="../assets/images/dashboard-2/user/3.png", alt="user") 
                            .flex-grow-1
                              p 09:00 pm
                              span I didn't consider myself a fashion designer at all at the time of punk. 
                          .d-flex.gap-2 
                            .flex-shrink-0  
                              img(src="../assets/images/dashboard-2/user/4.png", alt="user") 
                            .flex-grow-1
                              p 10:45 pm
                              span You have added new product in Clothe  text of Printing and tyesetting industry.
              .col-sm-12 
                .row 
                  .col-lg-4
                    .row 
                      .col-lg-12.col-sm-6
                        .card
                          .card-header.card-no-border.pb-0 
                            .header-top
                              h3 Sales by Countries
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    div
                                      i.icon-settings
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                          .card-body.sales-countries.pt-0
                            .table-responsive.custom-scrollbar
                              table.table.display(style='width:100%')
                                tbody    
                                  tr 
                                    td 
                                      .d-flex.align-items-center.gap-3 
                                        .flex-shrink-0 
                                          span 
                                            h3 AC
                                        .flex-grow-1 
                                          h6 Macbook Pro
                                          span United states 
                                    td 
                                      span.font-primary 25.7%
                                        i(data-feather="chevron-up")
                                    td Sep/20
                                    td
                                      p 748k
                                      span Sales
                                  tr 
                                    td 
                                      .d-flex.align-items-center.gap-3 
                                        .flex-shrink-0 
                                          span 
                                            h3 UK
                                        .flex-grow-1 
                                          h6 Heimer Sofa
                                          span Brazil
                                    td 
                                      span.font-secondary 10.7%
                                        i(data-feather="chevron-down")
                                    td Aug/18
                                    td
                                      p 340k
                                      span Sales
                                  tr 
                                    td 
                                      .d-flex.align-items-center.gap-3 
                                        .flex-shrink-0 
                                          span 
                                            h3 IN
                                        .flex-grow-1 
                                          h6 Coach Tabby
                                          span India
                                    td 
                                      span.font-primary 45.7%
                                        i(data-feather="chevron-up")
                                    td Jun/17
                                    td
                                      p 273k
                                      span Sales
                                  tr 
                                    td 
                                      .d-flex.align-items-center.gap-3 
                                        .flex-shrink-0 
                                          span 
                                            h3 JA
                                        .flex-grow-1 
                                          h6 iPad Pro
                                          span Japan
                                    td 
                                      span.font-secondary 12.7%
                                        i(data-feather="chevron-down")
                                    td Oct/21
                                    td
                                      p 843k
                                      span Sales
                                  tr 
                                    td 
                                      .d-flex.align-items-center.gap-3 
                                        .flex-shrink-0 
                                          span 
                                            h3 KO
                                        .flex-grow-1 
                                          h6 DJI Mavic Pro 2
                                          span Saudi Arabia
                                    td 
                                      span.font-primary 60.7%
                                        i(data-feather="chevron-up")
                                    td Aug/22
                                    td
                                      p 475k
                                      span Sales
                      .col-lg-12.col-sm-6
                        .card
                          .card-header.card-no-border.pb-0 
                            .header-top
                              h3 Last Transaction
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    div
                                      i.icon-settings
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                          .card-body.transaction-card
                            #transaction-chart
                            .table-responsive.custom-scrollbar
                              table.table.display(style='width:100%')
                                thead 
                                  tr 
                                    th Card
                                    th Trend
                                    th Status
                                tbody    
                                  tr 
                                    td 
                                      .d-flex.align-items-center.gap-3 
                                        .flex-shrink-0 
                                          img(src="../assets/images/dashboard-2/logo/2.png", alt="user") 
                                        .flex-grow-1 
                                          h6 *7756
                                          span Credit
                                    td 
                                      h6 -$420
                                      span 10 Mar 2023  
                                    td
                                      p.bg-light-secondary.font-secondary Rejected
                                  tr 
                                    td 
                                      .d-flex.align-items-center.gap-3 
                                        .flex-shrink-0 
                                          img(src="../assets/images/dashboard-2/logo/1.png", alt="user") 
                                        .flex-grow-1 
                                          h6 *6250
                                          span Credit
                                    td 
                                      h6 +$2,728
                                      span 14 Mar 2023 
                                    td
                                      p.bg-light-primary.font-primary Verified
                                  tr 
                                    td 
                                      .d-flex.align-items-center.gap-3 
                                        .flex-shrink-0 
                                          img(src="../assets/images/dashboard-2/logo/2.png", alt="user") 
                                        .flex-grow-1 
                                          h6 *8542
                                          span Credit
                                    td 
                                      h6 -$528
                                      span 12 Feb 2023  
                                    td
                                      p.bg-light-secondary.font-secondary Rejected
                                  tr 
                                    td 
                                      .d-flex.align-items-center.gap-3 
                                        .flex-shrink-0 
                                          img(src="../assets/images/dashboard-2/logo/1.png", alt="user") 
                                        .flex-grow-1 
                                          h6 *3459
                                          span Credit
                                    td 
                                      h6 +$8,845
                                      span 26 Feb 2023
                                    td
                                      p.bg-light-primary.font-primary Verified
                                  tr 
                                    td 
                                      .d-flex.align-items-center.gap-3 
                                        .flex-shrink-0 
                                          img(src="../assets/images/dashboard-2/logo/3.png", alt="user") 
                                        .flex-grow-1 
                                          h6 *9547
                                          span Credit
                                    td 
                                      h6 +$9,845
                                      span 26 Feb 2023
                                    td
                                      p.bg-light-tertiary.font-tertiary Pending
                  .col-lg-8
                    .row
                      .col-lg-6.col-sm-7 
                        .card.sales-pipeline
                          .card-header.card-no-border.pb-0 
                            .header-top
                              h3 Sales Pipeline
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    div
                                      i.icon-settings
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                          .card-body.pt-1.pipeline-card
                            .row 
                              .col-6
                                h6 ( Special Discount ) 
                                  span 60% OFF
                                .d-flex.align-items-center.gap-3
                                  .flex-shrink-0  
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#right-arrow-1')
                                  .flex-grow-1
                                    h6 Sale From Store
                                .d-flex.align-items-center.gap-3
                                  .flex-shrink-0  
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#right-arrow-2')
                                  .flex-grow-1
                                    h6 Sale From Ad
                                .d-flex.align-items-center.gap-3
                                  .flex-shrink-0  
                                    svg
                                      use(href='../assets/svg/icon-sprite.svg#right-arrow-3')
                                  .flex-grow-1
                                    h6 Sale From Search
                              .col-6
                                #pipeline-chart
                      .col-lg-6.col-sm-5 
                        .card.reports-card
                          .card-body
                            h3 Create CRM Reports
                            p Outlines keep you and the person you're indulging in honest.
                            a(href="#") Read More
                      .col-sm-12
                        .card
                          .card-header.card-no-border.pb-0 
                            .header-top
                              h3 Recent Orders
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    div
                                      i.icon-settings
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                          .card-body.pt-0.recent-order-card
                            .table-responsive.custom-scrollbar
                              table#recent-orders.table.display(style='width:100%')
                                thead 
                                  tr 
                                    th
                                      .form-check.checkbox-checked
                                        input.form-check-input(type='checkbox' value='')
                                    th Product Name
                                    th Customer
                                    th Countries
                                    th delivery address
                                    th Amount
                                    th.text-end Status
                                tbody 
                                  tr  
                                    td
                                      .form-check.checkbox-checked
                                        input.form-check-input(type='checkbox' value='')
                                    td
                                      .d-flex.gap-2
                                          .flex-shrink-0
                                            img(src="../assets/images/dashboard-2/product/4.png", alt="user") 
                                          .flex-grow-1
                                            a(href="product.html")
                                              h6.f-w-600 Apple watch 7
                                              span #KP8470B
                                    td 
                                      h6.f-w-600 Wade Warren
                                      p Wade53@gmail.com
                                    td.f-w-600 Switzerland
                                    td.f-w-600 775 Rolling Green Rd.
                                    td.f-w-600 $728.00
                                    td.text-end
                                      span.bg-light-primary.font-primary Paid
                                  tr  
                                    td
                                      .form-check.checkbox-checked
                                        input.form-check-input(type='checkbox' value='')
                                    td
                                      .d-flex.gap-2
                                          .flex-shrink-0
                                            img(src="../assets/images/dashboard-2/product/5.png", alt="user") 
                                          .flex-grow-1
                                            a(href="product.html")
                                              h6.f-w-600 Bests studio 2
                                              span #PK83902
                                    td 
                                      h6.f-w-600 Kristin Watson
                                      p Krstin25@gmail.com
                                    td.f-w-600 Germany
                                    td.f-w-600 1901 Thornridge Cir.
                                    td.f-w-600 $658.10
                                    td.text-end
                                      span.bg-light-secondary.font-secondary Pending
                                  tr  
                                    td
                                      .form-check.checkbox-checked
                                        input.form-check-input(type='checkbox' value='')
                                    td
                                      .d-flex.gap-2
                                          .flex-shrink-0
                                            img(src="../assets/images/dashboard-2/product/6.png", alt="user") 
                                          .flex-grow-1
                                            a(href="product.html")
                                              h6.f-w-600 Nike air jordan
                                              span #YHU0393
                                    td 
                                      h6.f-w-600 Jenny Wilson
                                      p jenny35@gmail.com
                                    td.f-w-600 United Kingdom
                                    td.f-w-600 8502 Preston Rd.
                                    td.f-w-600 $954.91
                                    td.text-end
                                      span.bg-light-tertiary.font-tertiary Unpaid
                                  tr  
                                    td
                                      .form-check.checkbox-checked
                                        input.form-check-input(type='checkbox' value='')
                                    td
                                      .d-flex.gap-2
                                          .flex-shrink-0
                                            img(src="../assets/images/dashboard-2/product/7.png", alt="user") 
                                          .flex-grow-1
                                            a(href="product.html")
                                              h6.f-w-600 Apple iphone
                                              span #W49ERO
                                    td 
                                      h6.f-w-600 Jacob Jones
                                      p Jacob83@gmail.com
                                    td.f-w-600 Australia
                                    td.f-w-600 6391 Elgin St. Celina, 
                                    td.f-w-600 $348.19
                                    td.text-end
                                      span.bg-light-primary.font-primary Paid
                      .col-sm-6 
                        .card
                          .card-header.card-no-border.pb-0 
                            .header-top
                              h3 Support Inbox
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    div
                                      i.icon-settings
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                          .card-body.support-box-card
                            .d-flex.gap-3
                              .flex-shrink-0
                                img(src="../assets/images/dashboard-2/user/1.jpg", alt="user") 
                              .flex-grow-1
                                h6.f-w-600 Jordan Ntolo
                                p My item doesn’t Ship correct address, please check and let me know asap!
                              span 10 Min ago
                            .d-flex.gap-3
                              .flex-shrink-0
                                img(src="../assets/images/dashboard-2/user/2.jpg", alt="user") 
                              .flex-grow-1
                                h6.f-w-600 Carolien Bloeme
                                p Can you please refund back my money, idont’s want to wait anymore 
                              span 8 Min ago
                            .d-flex.gap-3
                              .flex-shrink-0
                                img(src="../assets/images/dashboard-2/user/3.jpg", alt="user") 
                              .flex-grow-1
                                h6.f-w-600 Lisanne Viscaal
                                p My item doesn’t Ship correct address, please check and let me konw asap!
                              span 12 Min ago
                            .d-flex.gap-3
                              .flex-shrink-0
                                img(src="../assets/images/dashboard-2/user/4.jpg", alt="user") 
                              .flex-grow-1
                                h6.f-w-600 Sun Jun
                                p Thank you very much for quick support! i need it to be chnaged
                              span 10 Min ago
                      .col-sm-6 
                        .card
                          .card-header.card-no-border.pb-0 
                            .header-top
                              h3 Sales Interactions
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    div
                                      i.icon-settings
                                  li
                                    i.view-html.fa.fa-code
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                                  li
                                    i.icofont.icofont-error.close-card
                          .card-body.pt-2.pb-0
                            .product-heading 
                              h3 5689 Views
                                span ( Your Sale item interactions )
                            #orderoverview
          
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
    script. 
      new WOW().init();