- var height_equal          = true;
- var theme_customizer      = true;
- var date_picker           = true;
- var apex                  = true;
- var general_widget        = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        .page-title.w-auto
          +breadcrumb(['Widgets','General'],'General')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid         
            .page-title
              .row
                include ../../components/sub-header
                +breadcrumb(['Widgets',' General'],'General')
          // Container-fluid starts
          .container-fluid.general-widget
            .row
              .col-lg-3.col-sm-6
                .card.widget-1 
                  .card-header.card-no-border.pb-0 
                    .header-top
                      h3 $ 4,875
                      .dropdown
                        button#dropdownMenuButton4.btn.yearly(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                          i(data-feather="more-horizontal")
                        .dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownMenuButton4')
                          a.dropdown-item(href='#') Today
                          a.dropdown-item(href='#') Tomorrow
                          a.dropdown-item(href='#') Yesterday
                  .card-body.pt-0 
                    p.mb-2.f-w-700 All Order
                    .progress
                      .progress-bar.bg-primary(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                    p.f-w-600 +24% total Orders compared last year
              .col-lg-3.col-sm-6 
                .card.widget-1 
                  .card-header.card-no-border.pb-0 
                    .header-top
                      h3 162
                      .dropdown
                        button#dropdownMenuButton4.btn.yearly(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                          i(data-feather="more-horizontal")
                        .dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownMenuButton4')
                          a.dropdown-item(href='#') Today
                          a.dropdown-item(href='#') Tomorrow
                          a.dropdown-item(href='#') Yesterday
                  .card-body.pt-0 
                    p.mb-2.f-w-700 Return Item
                    .progress
                      .progress-bar.bg-secondary(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                    p.f-w-600 +24% total Retun compared last month
              .col-lg-3.col-sm-6  
                .card.widget-1 
                  .card-header.card-no-border.pb-0 
                    .header-top
                      h3 $ 4,995
                      .dropdown
                        button#dropdownMenuButton4.btn.yearly(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                          i(data-feather="more-horizontal")
                        .dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownMenuButton4')
                          a.dropdown-item(href='#') Today
                          a.dropdown-item(href='#') Tomorrow
                          a.dropdown-item(href='#') Yesterday
                  .card-body.pt-0 
                    p.mb-2.f-w-700 Unit Sold
                    .progress
                      .progress-bar.bg-tertiary(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                    p.f-w-600 +24% total Return compared last year
              .col-lg-3.col-sm-6
                .card
                  .card-header.card-no-border.pb-0 
                    .header-top
                      h3 Followers Growth
                      .dropdown
                        button#dropdownMenuButton4.btn.yearly.p-0(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                          i(data-feather="more-horizontal")
                        .dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownMenuButton4')
                          a.dropdown-item(href='#') Today
                          a.dropdown-item(href='#') Tomorrow
                          a.dropdown-item(href='#') Yesterday
                  .card-body.py-0
                    #followers-growth
              .col-lg-6 
                .row 
                  .col-sm-6 
                    .card.since
                      .card-body
                        .customer-card.d-flex.b-l-primary.border-2
                          div.ms-3
                            h3.mt-1 Customers
                            h5.mt-1 1.485
                          .dashboard-user.bg-light-primary
                            span
                            svg
                              use(href='../assets/svg/icon-sprite.svg#male')
                        .customer
                          span.me-1
                            svg
                              use(href='../assets/svg/icon-sprite.svg#arrow-up')
                          span.font-success.me-2 + 4.6%
                          span Since last Week
                  .col-sm-6
                    .card.since
                      .card-body.money
                        .customer-card.d-flex.b-l-secondary.border-2
                          div.ms-3
                            h3.mt-1 Revenue
                            h5.mt-1 $5.873
                          .dashboard-user.bg-light-secondary
                            span
                            svg
                              use(href='../assets/svg/icon-sprite.svg#money')
                        .customer
                          span.me-1
                            svg
                              use(href='../assets/svg/icon-sprite.svg#arrow-up')
                          span.font-success.me-2 + 3.5%
                          span Since last Week
                  .col-sm-6
                    .card.online-order
                      .card-header.pb-0.card-no-border
                        .d-flex
                          .order.bg-light-primary
                            span
                            svg
                              use(href='../assets/svg/icon-sprite.svg#basket')
                          .arrow-chart
                            svg
                              use(href='../assets/svg/icon-sprite.svg#arrow-chart')
                            span.font-danger -6.3%
                        .online
                          span Online Order
                          h2 16,2873
                      .card-body.pt-0.ps-2.pe-2
                        #online-chart-1
                  .col-sm-6
                    .card.online-order
                      .card-header.offline-order.pb-0.card-no-border
                        .d-flex
                          .order.bg-light-secondary
                            span
                            svg
                              use(href='../assets/svg/icon-sprite.svg#delivery')
                          .arrow-chart
                            svg
                              use(href='../assets/svg/icon-sprite.svg#arrow-chart-up')
                            span.font-success +8.3%
                        .online
                          span Offline Order
                          h2 62,5461
                      .card-body.pt-0.ps-2.pe-2
                        #offline-chart-1.offline-chart
              .col-lg-6
                .card.temperature
                  .card-body 
                    .row 
                      .col-xl-5.col-sm-6
                        h3 
                          svg
                            use(href='../assets/svg/icon-sprite.svg#location-Dashboard')
                          | Gotham
                        h4 Today 00:33 PM
                        img(src="../assets/images/dashboard/temperature/1.png", alt="temperature")
                        ul
                          li
                            svg
                              use(href='../assets/svg/icon-sprite.svg#weather-Dashboard')
                            | 720hpa
                          li
                            svg
                              use(href='../assets/svg/icon-sprite.svg#temperature-Dashboard')
                            | 32%
                          li
                            svg
                              use(href='../assets/svg/icon-sprite.svg#weather-Blowing')
                            | 12km/h
                      .col-xl-7.col-lg-12.col-sm-6
                        .temperature-box
                          h3 Temperature
                          #temperature-chart
              .col-xl-4.col-lg-4.col-md-6
                .card.web-card
                  .card-body
                    .d-flex
                      .header-top
                        .mobile-app.bg-light-primary
                          span
                          svg
                            use(href='../assets/svg/icon-sprite.svg#improvement')
                        .flex-grow-1 
                          h3 Mobile App
                          span Dribble Presentation
                      .dropdown.icon-dropdown
                        button#userdropdown.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end(aria-labelledby='userdropdown')
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly 
                    .comment
                      ul 
                        li 
                          svg
                            use(href='../assets/svg/icon-sprite.svg#calendar')
                          span June 18,2023
                        li 
                          svg
                            use(href='../assets/svg/icon-sprite.svg#message')
                          span 18
                        li 
                          svg
                            use(href='../assets/svg/icon-sprite.svg#link')
                          span 08
                    .flex-shrink-0 
                      .user-details.customers
                        ul 
                          li.d-inline-block
                            img(src="../assets/images/dashboard-3/user/1.png", alt="user")
                          li.d-inline-block
                            img(src="../assets/images/dashboard-3/user/2.png", alt="user")
                          li.d-inline-block
                            img(src="../assets/images/dashboard-3/user/3.png", alt="user")
                      .progress-value 
                        span Progress
                          span 70%
                        .progress
                          .progress-bar.bg-primary(role='progressbar', style='width: 70%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
              .col-xl-4.col-lg-4.col-md-6
                .card.web-card
                  .card-body
                    .d-flex.nft-card
                      .header-top
                        .mobile-app.bg-light-success
                          span
                          svg
                            use(href='../assets/svg/icon-sprite.svg#NFT')
                        .flex-grow-1 
                          h3 NFT Website 
                          span Pinterest Promotion
                      .dropdown.icon-dropdown
                        button#userdropdown1.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end(aria-labelledby='userdropdown1')
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly 
                    .comment
                      ul 
                        li 
                          svg
                            use(href='../assets/svg/icon-sprite.svg#calendar')
                          span June 15,2023
                        li 
                          svg
                            use(href='../assets/svg/icon-sprite.svg#message')
                          span 20
                        li 
                          svg
                            use(href='../assets/svg/icon-sprite.svg#link')
                          span 10
                    .flex-shrink-0 
                      .user-details.customers
                        ul 
                          li.d-inline-block
                            img(src="../assets/images/dashboard-3/user/8.png", alt="user")
                          li.d-inline-block
                            img(src="../assets/images/dashboard-3/user/4.png", alt="user")
                          li.d-inline-block
                            img(src="../assets/images/dashboard-3/user/7.png", alt="user")
                      .progress-value 
                        span Progress
                          span 60%
                        .progress
                          .progress-bar.bg-success(role='progressbar', style='width: 60%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
              .col-xl-4.col-lg-4.col-md-12
                .card.web-card
                  .card-body
                    .d-flex.twitter-card
                      .header-top
                        .mobile-app.bg-light-danger
                          span
                          svg
                            use(href='../assets/svg/icon-sprite.svg#management')
                        .flex-grow-1 
                          h3 Ecommerce App
                          span Twitter Marketing
                      .dropdown.icon-dropdown
                        button#userdropdown2.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end(aria-labelledby='userdropdown2')
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly 
                    .comment
                      ul 
                        li 
                          svg
                            use(href='../assets/svg/icon-sprite.svg#calendar')
                          span June 25,2023
                        li 
                          svg
                            use(href='../assets/svg/icon-sprite.svg#message')
                          span 30
                        li 
                          svg
                            use(href='../assets/svg/icon-sprite.svg#link')
                          span 12
                    .flex-shrink-0 
                      .user-details.customers
                        ul 
                          li.d-inline-block
                            img(src="../assets/images/dashboard-3/user/9.png", alt="user")
                          li.d-inline-block
                            img(src="../assets/images/dashboard-3/user/5.png", alt="user")
                          li.d-inline-block
                            img(src="../assets/images/dashboard-3/user/6.png", alt="user")
                      .progress-value 
                        span Progress
                          span 50%
                        .progress
                          .progress-bar.bg-danger(role='progressbar', style='width: 50%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
              .col-md-6
                .card
                  .card-header.card-no-border.pb-0
                    .header-top
                      h3 Project Created
                      .dropdown.icon-dropdown
                        button#userdropdown6.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end(aria-labelledby='userdropdown6')
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly
                  .card-body.p-0
                    #revenuegrowth-1 
              .col-md-6 
                .card.position-relative
                  .card-header.card-no-border.pb-0 
                    .header-top
                      h3 Monthly sales & views
                      .dropdown
                        button#dropdownMenuButton4.btn.dropdown-toggle.yearly(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                          | Yearly
                        .dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownMenuButton4')
                          a.dropdown-item(href='#') Today
                          a.dropdown-item(href='#') Tomorrow
                          a.dropdown-item(href='#') Yesterday
                  .card-body.pt-0
                    #salse-overview
                    .chart-value 
                      .d-flex.gap-2.align-items-center  
                        h6 
                          span.bg-primary 
                        | Total Sales
                        h6 
                          span.bg-secondary
                        |  Average
              
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
