- var theme_customizer      = true;
- var morrischart           = true;
- var apex                  = true;
- var apexmoment            = true;
- var dashboard_default     = true;
- var owlcarousel           = true;
- var page_owlcarousel      = true;
- var page_datatable        = true;
- var datatable             = true;
- var page_datatable1       = true;
- var notify                = true;
- var animate               = true;
- var typeahead             = true;
- var typeahead_search      = true;
- var sidebar               = true;
- var scrollbar             = true;
- var wow                   = true;
- var slick                 = true;
- var header_slider         = true;
- var height_equal          = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        .page-title.w-auto
          +breadcrumb([' ',' '],'Advanced Dashboard')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid         
            .page-title
              .row
                include ../../components/sub-header
                +breadcrumb(['Dashboard',' Advanced'],' ')
                include ../../components/sub-header-dropdwon     
          // Container-fluid starts
          .container-fluid.default-dashboard
            .row
              .col-xxl-4.col-xl-100.box-col-12.ps-4.pe-4.left-background
                .row.bg-light.p-3.pt-4.pb-4
                  .col-12.col-xl-50.box-col-6
                    .card.welcome-card
                      .card-header.card-no-border.pb-0
                        h3 Recent 
                      .card-body
                        .d-flex 
                          .flex-grow-1 
                            h1 Hello, Ramirez
                            p Welcome back! Let's start from where you left.
                            a.btn(href="user-profile.html") View Profile
                          .flex-shrink-0  
                            img(src='../assets/images/dashboard/welcome.png' alt="")
                  
          // Container-fluid Ends
        include ../../components/footer        
    include ../../components/footer-files
    script. 
      new WOW().init();