- var theme_customizer      = true;
- var morrischart           = true;
- var apex                  = true;
- var apexmoment            = true;
- var dashboard_default     = true;
- var owlcarousel           = true;
- var page_owlcarousel      = true;
- var page_datatable        = true;
- var datatable             = true;
- var page_datatable1       = true;
- var notify                = true;
- var animate               = true;
- var typeahead             = true;
- var typeahead_search      = true;
- var sidebar               = true;
- var scrollbar             = true;
- var wow                   = true;
- var slick                 = true;
- var header_slider         = true;
- var height_equal          = true;
include ../../components/mixin
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        //- include ../../components/toggle-icon
        .page-title.w-auto
          +breadcrumb(['Dashboard','Advanced'],'Advanced Dashboard')
        include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid         
            .page-title
              .row
                include ../../components/sub-header
                +breadcrumb(['Dashboard',' Advanced'],'Advanced Dashboard')  
          // Container-fluid starts
          .container-fluid.dashboard_default
            .row.widget-grid
              .col-xl-6 
                .card.sales-chart
                  .card-header.card-no-border.pb-0 
                    .header-top
                      h3 Sales Analytics
                      .dropdown
                        button#dropdownMenuButton4.btn.dropdown-toggle.yearly(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                          | Yearly
                        .dropdown-menu.dropdown-menu-end(aria-labelledby='dropdownMenuButton4')
                          a.dropdown-item(href='#') Today
                          a.dropdown-item(href='#') Tomorrow
                          a.dropdown-item(href='#') Yesterday
                  .card-body
                    ul 
                      li.me-2
                        span.circle.bg-primary.me-1 
                        p Pending
                          span ($4,875)
                      li 
                        span.circle.bg-secondary.me-1
                        p Complete   
                          span ($1,450)
                    .legend 
                      #sales-analytics
              .col-3
                .card.new-followers
                  .card-header.card-no-border.pb-0 
                    h3 New Followers
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          div
                            i.icon-settings
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body
                    .table-responsive.custom-scrollbar
                      table#new-followers.table.display(style='width:100%')
                        thead 
                          tr 
                            th Customer
                            th Countey
                            th Popular
                        tbody    
                          tr 
                            td 
                              .d-flex.gap-2
                                .flex-shrink-0
                                  img(src="../assets/images/dashboard/user/1.png", alt="user") 
                                .flex-grow-1
                                  a(href="product.html")
                                    h6.f-w-600 Joshua Wood
                                    span 14+ Online
                            td 
                              span.f-w-600 USA
                            td 
                              .progress
                                  .progress-bar.bg-primary(role='progressbar', style='width: 70%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
                          tr 
                            td 
                              .d-flex.gap-2
                                .flex-shrink-0
                                  img(src="../assets/images/dashboard/user/2.png", alt="user") 
                                .flex-grow-1
                                  a(href="product.html")
                                    h6.f-w-600 Michael Backer
                                    span 265+ Online  
                            td 
                              span.f-w-600 Angola
                            td 
                              .progress
                                  .progress-bar.bg-secondary(role='progressbar', style='width: 70%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
                          tr 
                            td 
                              .d-flex.gap-2
                                .flex-shrink-0
                                  img(src="../assets/images/dashboard/user/3.png", alt="user") 
                                .flex-grow-1
                                  a(href="product.html")
                                    h6.f-w-600 Cayla Brister
                                    span 160+ Online
                            td 
                              span.f-w-600 Cuba 
                            td 
                              .progress
                                  .progress-bar.bg-tertiary(role='progressbar', style='width: 70%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
                          tr 
                            td 
                              .d-flex.gap-2
                                .flex-shrink-0
                                  img(src="../assets/images/dashboard/user/4.png", alt="user") 
                                .flex-grow-1
                                  a(href="product.html")
                                    h6.f-w-600 Ron Dayley
                                    span 245+ Online
                            td 
                              span.f-w-600 England
                            td 
                              .progress
                                  .progress-bar.bg-primary(role='progressbar', style='width: 70%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
              .col-3 
                .card.bussiness-card
                  .card-body
                    .dussiness-heding  
                      h2 How to build your success in 3 steps
                      p Upgrade your bussiness
                      a.btn.btn-primary.f-w-700 Learn More
                    .bussiness-img 
                      img.img-1(src="../assets/images/dashboard/bussienss/image.png", alt="bussiness-img")
                      img.img-2(src="../assets/images/dashboard/bussienss/cat.png", alt="bussiness-img")
                      img.img-3(src="../assets/images/dashboard/bussienss/vector-1.png", alt="bussiness-img")
                      img.img-4(src="../assets/images/dashboard/bussienss/vector.png", alt="bussiness-img")
              .col-6 
                .card.project-summary
                  .card-header.card-no-border.pb-0 
                    h3 Project Summary
                  .card-body 
                    table#project-summry.table.display(style='width:100%')
                      thead 
                        tr 
                          th
                            .form-check
                              input.form-check-input(type='checkbox' value='')
                              label.form-check-label
                          th Product Name
                          th Date
                          th Quantity
                          th Value
                          th Rate
                          th Payment
                      tbody 
                        tr  
                          td
                            .form-check
                              input.form-check-input(type='checkbox' value='')
                              label.form-check-label
                          td 
                            .d-flex.gap-2
                                .flex-shrink-0
                                  img(src="../assets/images/dashboard/product/1.png", alt="user") 
                                .flex-grow-1
                                  a(href="product.html")
                                    h6.f-w-600 Nike Sports NK
                                    span Free delivery
                          td 16 August
                          td 65554
                          td 
                            #priceChart1
                          td $844648
                          td Done
                        tr  
                          td
                            .form-check
                              input.form-check-input(type='checkbox' value='')
                              label.form-check-label
                          td 
                            .d-flex.gap-2
                                .flex-shrink-0
                                  img(src="../assets/images/dashboard/product/2.png", alt="user") 
                                .flex-grow-1
                                  a(href="product.html")
                                    h6.f-w-600 Women Bag
                                    span $83.97 delivery
                          td 2 October
                          td 65491
                          td 
                            #priceChart2
                          td $282392
                          td Pending
                        tr  
                          td
                            .form-check
                              input.form-check-input(type='checkbox' value='')
                              label.form-check-label
                          td 
                            .d-flex.gap-2
                                .flex-shrink-0
                                  img(src="../assets/images/dashboard/product/3.png", alt="user") 
                                .flex-grow-1
                                  a(href="product.html")
                                    h6.f-w-600 Sunglasses 
                                    span Free delivery
                          td 21 March
                          td 95361
                          td 
                            #priceChart3
                          td $84568
                          td Done
                        tr  
                          td
                            .form-check
                              input.form-check-input(type='checkbox' value='')
                              label.form-check-label
                          td 
                            .d-flex.gap-2
                                .flex-shrink-0
                                  img(src="../assets/images/dashboard/product/4.png", alt="user") 
                                .flex-grow-1
                                  a(href="product.html")
                                    h6.f-w-600 Cotton T-shirt
                                    span $12.55 delivery
                          td 31 December
                          td 98744
                          td 
                            #priceChart4
                          td $844648
                          td Pending
              .col-6 
                .card.monthly-growth
                  .card-header.card-no-border.pb-0 
                    h3 Monthly Revenue Growth
                  .card-body 
                    #monthlyChart     
                    ul.d-flex
                      li 
                        .d-flex 
                          .flex-shrink-0
                            h3 $ 4,875
                            span Active User
                          .flex-grow-1
                            h4 1,00,00
                            span 85% goal reached
                        .progress
                          .progress-bar.bg-primary(role='progressbar', style='width: 70%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
                      li 
                        .d-flex 
                          .flex-shrink-0
                            h3 $ 7,560
                            span Total Tax
                          .flex-grow-1
                            h4 1,00,00
                            span 45% goal reached
                        .progress
                          .progress-bar.bg-secondary(role='progressbar', style='width: 70%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')



          // Container-fluid Ends
        include ../../components/footer        
    include ../../components/footer-files
    script. 
      new WOW().init();