- var landing_sticky        = true;
- var wow                   = true;
- var animate               = true;
- var tooltip               = true;
- var jarallax_libs         = true;
- var landing_icon          = true;
- var slick                 = true;
- var landing_slider        = true;
- var landing_font          = true;
doctype html
html(lang='en')
  include ../../components/landing-header
  body.landing-page
    include ../../components/taptop
    // page-wrapper Start
    div.landing-page
      // Page Body Start            
      header.landing-header
        .container-fluid
          .row
            .col-12
              nav#navbar-example2.navbar.navbar-light.p-0
                  a.navbar-brand(href="javascript:void(0)") 
                    img.img-fluid.img-90(src="../assets/images/logo/logo-1.png" alt="")
                  ul.landing-menu.nav.nav-pills
                    li.nav-item.menu-back
                      | back
                      i.fa.fa-angle-right
                    li.nav-item
                      a.nav-link(href='#home') Home
                    li.nav-item
                      a.nav-link(href='#demo') Demo
                    li.nav-item
                      a.nav-link(href='#framework') Frameworks
                    li.nav-item
                      a.nav-link(href='#Applications') Applications
                    li.nav-item
                      a.nav-link(href='#core-feature') Core Feature 
                    li.nav-item
                      a.nav-link(href='https://admin.pixelstrap.com/tivo/documentation/document/index.html' target="_blank") Documentation
                  .buy-block
                    a.btn-landing(href="https://1.envato.market/Ygr36P" target="_blank") Purchase
                    .toggle-menu
                      i.fa.fa-bars
      // header end

      // landing home start
      section#home.landing-home
        img.img-fluid.bg-img-cover(src="../assets/images/landing/landing-home/home-bg.png" alt="")
        .container-fluid
          .row.align-items-center
            .col-lg-5
              .landing-home-contain
                div
                  div.transfer
                    img.img-fluid(src="../assets/images/landing/gif/6.gif" alt="")   
                    p We Provide Life Time Support  
                  h2 Create The Best
                    span Dashboard 
                    | With Scalable Technology.
                    img(src="../assets/images/landing/line.png", alt="")
                  p  Wool is Perfect Admin template for any business. it has all features and modules to create your amazing C-panel. this template for selling Default, Ecommerce etc......
                  ul.btn-home-list
                    li
                      a.btn.btn-secondary(href="index.html" target="_blank")
                        svg.bit-icon.me-1
                          use(href='../assets/svg/icon-sprite.svg#cart-2') 
                        span Purchase Now
                    li
                      a.btn.btn-primary(href="https://laravel.pixelstrap.com/tivo/dashboard" target="_blank")
                        svg.bit-icon.me-1
                          use(href='../assets/svg/icon-sprite.svg#document')  
                        | Documentation

            .animat-block.col-lg-7
              figure.cd-image-container
                img(src='../assets/images/landing/landing-home/1.png' alt='Original Image')
                span.cd-image-label(data-type='original') 
                .cd-resize-img
                  img(src='../assets/images/landing/landing-home/2.png' alt='Modified Image')
                  span.cd-image-label(data-type='modified') 
                span.cd-handle
              ul
                li
                  img.img-fluid(src="../assets/images/landing/landing-home/4.png" alt="")
                li
                  img.img-fluid(src="../assets/images/landing/landing-home/5.png" alt="")
                li
                  img.img-fluid(src="../assets/images/landing/landing-home/3.png" alt="")

      
      // landing home end

      //AARR-----------
      section#demo.section-py-space.layout-section
        .container.dashboard-section
          .row.layout-block
            .col-sm-12.wow.pulse
              .title
                h2 Creative layouts
            .col-xl-6.col-lg-6.col-md-6.col-12.text-center.crypto-dash
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section(href="index.html" target="_blank") Crypto Demo 
            .col-xl-6.col-lg-6.col-md-6.col-12.text-center
              div.demo-slide
                a(href='main/ltr/index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section(href="dashboard-02.html" target="_blank") Ecommerce Demo

      //sidebar section start
      section.section-py-space.demo-section.light-bg.section-px-space
        .container.dashboard-section
          .row.layout-block              
            .col-sm-12.wow.pulse
              .title                       
                h2 Sidebar Type
          .row.demo-block
            .col-md-6.text-center
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section(href="index.html" target="_blank") Horizontal Sidebar
            .col-md-6.text-center
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section(href="index.html" target="_blank") Vertical Sidebar
      //sidebar section end

      // frameworks start
      section#framework.framework.section-py-space.bg-white
        .custom-container
          .row                  
            .col-sm-12.wow.pulse
              .title                       
                h2 Frameworks
            .col-sm-12.framworks                  
              #pills-tabContent.tab-content
                #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
                  ul.framworks-list
                    li.bounceIn.wow
                        div.framworks-img 
                          img(src="../assets/images/landing/icon/laravel/bootstrap.png" alt="")
                        h6 Bootstrap 5
                    li.bounceIn.wow
                        div.framworks-img 
                          img(src="../assets/images/landing/icon/html/css.png" alt="")
                        h6 CSS 3
                    li.bounceIn.wow
                        div.framworks-img 
                          img(src="../assets/images/landing/icon/html/sass.png" alt="")
                        h6 Sass
                    li.bounceIn.wow
                        div.framworks-img 
                          img(src="../assets/images/landing/icon/html/pug.png" alt="")
                        h6 Pug
                    li.bounceIn.wow
                        div.framworks-img 
                          img(src="../assets/images/landing/icon/html/npm.png" alt="")
                        h6 NPM
                    li.bounceIn.wow
                        div.framworks-img  
                          img(src="../assets/images/landing/icon/html/gulp.png" alt="")
                        h6 Gulp
                    li.bounceIn.wow
                        div.framworks-img 
                          img(src="../assets/images/landing/icon/html/kit.png" alt="")
                        h6 Starter Kit
                    li.bounceIn.wow
                        div.framworks-img 
                          img(src="../assets/images/landing/icon/html/uikits.png" alt="")
                        h6 40+ UI Kits
                    li.bounceIn.wow
                        div.framworks-img 
                          img(src="../assets/images/landing/icon/html/layout.png" alt="")
                        h6 8+ Layout
                    li.bounceIn.wow
                        div.framworks-img 
                          img(src="../assets/images/landing/icon/html/builders.png" alt="")
                        h6 Builders
                    li.bounceIn.wow
                        div.framworks-img 
                          img(src="../assets/images/landing/icon/html/iconset.png" alt="")
                        h6 11 Icon Sets
                    li.bounceIn.wow
                        div.framworks-img 
                          img(src="../assets/images/landing/icon/html/forms.png" alt="")
                        h6 Forms
                    li.bounceIn.wow
                        div.framworks-img  
                          img(src="../assets/images/landing/icon/html/table.png" alt="")
                        h6 Tables
                    li.bounceIn.wow
                        div.framworks-img  
                          img(src="../assets/images/landing/icon/html/apps.png" alt="")
                        h6 17+ Apps
      //frameworks end

      //Applications start
      section#Applications.section-py-space.layout-section.light-bg
        .container.appliction-section
          .row.layout-block
            .col-sm-12.wow.pulse
              .title
                h2 Usefull application
            .col-lg-4.col-sm-6.text-center
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section.mb-5(href="projects.html" target="_blank") Project
            .col-lg-4.col-sm-6.text-center
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section.mb-5(href="kanban.html" target="_blank") Kanban
            .col-lg-4.col-sm-6.text-center
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section.mb-5(href="social-app.html" target="_blank") Social App
            .col-lg-4.col-sm-6.text-center
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section.mb-5(href="to-do.html" target="_blank") To-Do
            .col-lg-4.col-sm-6.text-center
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section.mb-5(href="knowledgebase.html" target="_blank") Knowledgebase
            .col-lg-4.col-sm-6.text-center
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section.mb-5(href="file-manager.html" target="_blank") File Manager
            .col-lg-4.col-sm-6.text-center
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section.mb-5(href="product-page.html" target="_blank") Ecommerce
            .col-lg-4.col-sm-6.text-center
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section.mb-5(href="contacts.html" target="_blank") Contacts
            .col-lg-4.col-sm-6.text-center
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section.mb-5(href="chat.html" target="_blank") Chat
            .col-lg-4.col-sm-6.text-center.support-card
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section(href="support-ticket.html" target="_blank") Support Ticket
            .col-lg-4.col-sm-6.text-center.email-card
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section(href="letter-box.html" target="_blank") Email Application
            .col-lg-4.col-sm-6.text-center
              div.demo-slide
                a(href='index.html', target='_blank')
                  span.pc-bg
                    img.img-fluid(src="../assets/images/landing/1.png" alt="")
              a.btn.btn-section(href="job-cards-view.html" target="_blank") Job Search
      //Applications end
      

      //Core Feature start
      section#core-feature.core-feature.section-py-space
        .title
          h2 Unique Features
        .container
          .row.feature-block
            .col-xl-4.col-sm-6
              .d-flex.align-items-center
                .flex-shrink-0
                  .icon-wrraper
                    i(data-feather="bold")
                .flex-grow-1
                  h4 Bootstrap 5
                  p Cloud ui is built with latest version of bootstrap 5
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper
                    i(data-feather="code")
                .flex-grow-1
                  h4 Seamless Coding
                  p Carefully crafted templates, W3C validated code for excellence             
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper
                    i(data-feather="settings")
                .flex-grow-1
                  h4 Easy to Customize
                  p Our Template is easy to do any required changes.
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper
                    i(data-feather="layout")
                .flex-grow-1
                  h4 Lots of Table Example
                  p We made sure that you get lots of table options to choose
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper
                    i(data-feather="upload-cloud")
                .flex-grow-1
                  h4 Multiple File Uploads
                  p Option to upload more than one file at one time
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper
                    i(data-feather="calendar")
                .flex-grow-1
                  h4 Calendar Design
                  p We have included Calendar application  with  Material art
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper
                    i(data-feather="image")
                .flex-grow-1
                  h4 Gallery Options
                  p Included gallery options for you to showcase products
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper
                    i(data-feather="cpu")
                .flex-grow-1
                  h4 Editors
                  p Options to select the editors that you are comfortable with
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper   
                    i(data-feather="sliders")
                .flex-grow-1
                  h4 Owl carousel
                  p Responsive Touch-enabled jQuery Carousel Plugin: Beauty in Motion
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper
                    i(data-feather="airplay")
                .flex-grow-1
                  h4 Fully responsive
                  p 100% fully responsive layout, It display well in any size of devices
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper
                    i(data-feather="droplet")
                .flex-grow-1
                  h4 3000s of icons
                  p Over 3000+ icons to choose
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper   
                    i(data-feather="help-circle")
                .flex-grow-1
                  h4 Support
                  p Your dependable backbone for every minor query, always there
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper
                    i(data-feather="trash-2")
                .flex-grow-1
                  h4 Clean design
                  p Clean and attractive design
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper   
                    i(data-feather="aperture")
                .flex-grow-1
                  h4 Color templates
                  p Dark and light templates available
            .col-xl-4.col-sm-6
              div.d-flex
                .flex-shrink-0
                  .icon-wrraper   
                    i(data-feather="codepen")
                .flex-grow-1
                  h4 Data visualization
                  p A lot of customized chart libraries

      //Core Feature end

      // counter-section start
      section.counter-section.section-py-space.light-bg
        .container
          .row.text-center
            .col-lg-3.col-sm-6
              .circle_percent(data-percent='2')
                .circle_inner
                  .round_per
              h4 Layouts  
              p Wool template has include light , dark , box & vertical layouts.
            .col-lg-3.col-sm-6
              .circle_percent(data-percent='12')
                .circle_inner
                  .round_per
              h4 Workable App
              p Wool template is comes with 10+ different clean modern & Usefully Application.
            .col-lg-3.col-sm-6
              .circle_percent(data-percent='42')
                .circle_inner
                  .round_per
              h4 Components
              p Wool admin template includes 42+ new and usefully Components.
            .col-lg-3.col-sm-6
              .circle_percent(data-percent='178')
                .circle_inner
                  .round_per
              h4 pages
              p Wool template is comes with 178+ different inner pages
      // counter-section end
      //footer start
      section#footer.landing-footer.section-py-space.light-bg
        .custom-container
          .row
            .col-12
              .footer-contain
                img.img-fluid(src="../assets/images/logo/logo2.png" alt="")
                h2 If you like our products, Please Rate Us
                ul.star-rate
                  li
                    i.fa.fa-star.font-warning
                  li
                    i.fa.fa-star.font-warning
                  li
                    i.fa.fa-star.font-warning
                  li
                    i.fa.fa-star.font-warning
                  li
                    i.fa.fa-star.font-warning
                .btn-footer
                  a(class="btn btn-lg btn-primary" target="_blank" href="index.html" data-bs-original-title="" title="") Check Now
                  a(class="btn btn-lg btn-secondary" target="_blank" href="https://1.envato.market/Ygr36P" data-bs-original-title="" title="") Buy Now
                  a(class="btn btn-lg btn-success" target="_blank" href="https://themeforest.net/search/pixelstrap" data-bs-original-title="" title="") Our Portfolio
      //footer end


    include ../../components/landing-footer-files