// /**=====================
//   3.13 Dashboard_default CSS Start
// ==========================**/
@each $badge-light-name,
$badge-light-color in (primary, $primary-color),
(secondary, $secondary-color),
(success, $success-color),
(danger, $danger-color),
(info, $info-color),
(light, $badge-light-color),
(dark, $dark-color),
(warning, $warning-color) {
  .badge-light-#{$badge-light-name} {
    background-color: lighten($badge-light-color, 38%);
    color: $badge-light-color;
  }
}
.badge-light-light {
  background-color: lighten($badge-light-color, 55%);
}
.badge-light-primary {
  background-color: rgba($primary-color, 0.1);
}
.badge-light-success {
  background-color: rgba($success-color, 0.15);
}
.badge-light-secondary {
  background-color: rgba($secondary-color, 0.08);
}
.dashboard_default {
  .sales-chart {
    .card-body {
      ul {
        display: flex;
        align-items: center;
        li {
          display: flex;
          align-items: center;
          .circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
          }
          p {
            color: $theme-body-sub-title-color;
            font-weight: 600;
            span {
              color: $theme-font-color;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

// /**=====================
//   3.13 Dashboard_default CSS Ends
// ==========================**/