// /**=====================
//     3.9 Dashboard_2 CSS Start
// ==========================**/
@each $activity-dot-name,
$activity-dot-color in (primary, $primary-color),
(secondary, $secondary-color),
(success, $success-color),
(danger, $danger-color),
(info, $info-color),
(light, $light-color),
(dark, $dark-color),
(warning, $warning-color) {
  .activity-dot-#{$activity-dot-name} {
    min-width: 10px;
    height: 10px;
    background-color: $activity-dot-color;
    border-radius: 100%;
    outline: 5px solid rgba($activity-dot-color, 0.25);
    position: relative;
    z-index: 2;
  }
  // timeline
  .timeline-dot-#{$activity-dot-name} {
    min-width: 12px;
    height: 12px;
    background-color: $activity-dot-color;
    outline: 5px solid rgba($activity-dot-color, 0.25);
    position: relative;
    z-index: 2;
  }
}
@each $badge-dot-name,
$badge-dot-color in (primary, $primary-color),
(secondary, $secondary-color),
(success, $success-color),
(danger, $danger-color),
(info, $info-color),
(light, $light-color),
(dark, $dark-color),
(warning, $warning-color) {
  .badge-dot-#{$badge-dot-name} {
    min-width: 10px;
    height: 10px;
    background-color: $badge-dot-color;
    border-radius: 100%;
    outline: 5px solid rgba($badge-dot-color, 0.25);
    position: relative;
    z-index: 2;
  }
}
.ecommerce-dashboard {
  table {
    tr {
      td, th {
        &:first-child {
          padding-left: 0;
        }
      }
      td, th {
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  .widget-1 {
    background-image: url(../images/dashboard-2/widget-bg.png);
    background-size: cover;
    .card-header{
      background-color: transparent;
      @media (max-width: 767px) and (min-width: 576px) {
        padding: 14px;
      }
      .header-top{
        h3 {
          font-size: 24px;
          font-weight: 800;
          @media (max-width: 767px) and (min-width: 576px) {
            font-size: 22px;
          }
        }
      }
      .dropdown{
        .btn{
          font-size: 0px;
          padding: 4px 8px;
          border: 0;
        }
      }
    }
    i {
      font-weight: 700;
      font-size: 12px;
    }
  
    .f-w-500 {
      display: flex;
      align-items: center;
    }
  
    .card-body {
      @media (max-width: 767px) and (min-width: 576px) {
        padding: 14px;
      }
      p{
        color: $theme-body-sub-title-color;
        text-overflow: ellipsis;
        overflow: hidden;
        @media (min-width: 576px) {
          display: -webkit-box !important;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          white-space: normal;
        }
      }
      .progress{
        height: 8px;
        margin-bottom: 16px;
      }
    }
  
    .widget-content {
      display: flex;
      align-items: center;
      gap: 15px;
  
      h4 {
        margin-bottom: 4px;
      }
    }
  
    &:hover {
      transform: translateY(-5px);
      transition: 0.5s;
    }
  }
  #salse-overview {
    .apexcharts-canvas {
      .apexcharts-svg {
        .apexcharts-inner {
          .apexcharts-grid {
            .apexcharts-gridlines-horizontal {
              line {
                &:nth-child(odd) {
                  display: none !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .chart-value {
    position: absolute;
    top: 22px;
    right: 60px;
    @media (max-width: 1366px) and (min-width: 992px) { 
      right: 20px;
      top: 47px; 
    }
    @media (max-width: 767px) { 
      right: 20px;
      top: 47px; 
    }
    @media (max-width: 360px) { 
      top: 58px; 
    }
    h6 {
      span {
        height: 12px;
        width: 12px;
        border-radius: 50px;
        border: 2px solid $white;
        box-shadow: 0px 4px 4px rgba(127, 85, 218, 0.20);
      }
    }
  }
  .recent-activity{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      width: 3px;
      height: 100%;
      background-color: rgba($primary-color , 0.1);
      top: 0;
      left: 19px;
    }
    >.d-flex.active-status{
      position: relative;
      padding: 0 15px;
      &::before{
        content: "";
        position: absolute;
        width: 8%;
        height: 2px;
        background-color: rgba($primary-color , 0.1);
        top: 4px;
        left: 15px;
      }
      >span { 
        height: 10px;
        width: 10px;
        border-radius: 50%;
        outline: 3px solid rgba($primary-color , 0.2);
      }
      h5  {
        font-weight: 800;
        margin-bottom: 6px;
      }
    }
    .d-flex{
      padding: 7px 0;
      .flex-shrink-0 {
        img {
          border-radius: 50%;
        }
      }
      .flex-grow-1{
        p{
          font-weight: 600;
          margin-bottom: 1px;
          color: $theme-body-sub-title-color;
        }
        span{
          color: $theme-font-color;
          font-weight: 600;
          margin-bottom: 14px;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box !important;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
        }
      }
    }
  }
  .sales-countries{
    table {
      tbody {
        tr {
          &:last-child{
            td {
              border-bottom: none;
              padding-bottom: 0;
            }
          }
          td {
            font-weight: 600;
            &:first-child {
              @media (max-width: 1199px) {
                min-width: 175px;
              }
            }
            &:nth-child(2) {
              @media (max-width: 1670px) and (min-width: 1200px) { 
                display: none; 
              }
              @media (max-width: 1199px) {
                min-width: 94px;
              }
            }
            &:nth-child(3) {
              @media (max-width: 1399px) and (min-width: 1200px) { 
                display: none; 
              }
            }
            .d-flex {
              .flex-shrink-0 {
                span {
                  height: 50px;
                  width: 50px;
                  border-radius: 50%;
                  background-color: $gray-200;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
              .flex-grow-1 {
                h6 {
                  font-weight: 600;
                }
                span {
                  font-weight: 600;
                  color: $theme-body-sub-title-color;
                }
              }
            }
            span {
              svg {
                vertical-align: bottom;
              }
            }
            p{
              font-weight: 600;
              margin-bottom: 0;
            }
            span {
              font-weight: 600;
              color: $theme-body-sub-title-color;
            }
          }
        }
      }
    }
  }
  .transaction-card{
    @media (max-width: 991px) and (min-width: 576px) { 
      padding-top: 0;
    }
    #transaction-chart {
      margin: 22px 0;
      @media (max-width: 1699px) and (min-width: 1600px) { 
        margin: 10px 0;
      }
      @media (max-width: 991px) and (min-width: 576px) { 
        display: none;
      }
      @media (max-width: 575px) {
        margin-bottom: 0;
      }
    }
    table {
      thead {
        tr{
          th{
            color: $theme-body-sub-title-color;
            &:nth-child(2) {
              @media (max-width: 1399px) and (min-width: 1200px) { 
                display: none; 
              }
            }
          }
        }
      }
      tbody {
        tr {
          &:first-child {
            @media (min-width: 1700px) { 
              display: none; 
            }
          }
          &:last-child {
            td {
              border-bottom: none;
              padding-bottom: 0;
            }
          }
          td {
            .d-flex {
              .flex-shrink-0 {
                height: 42px;
                width: 68px;
                border-radius: 4px;
                background-color: rgba($primary-color , 0.08);
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .flex-grow-1 {
                h6 {
                  font-weight: 600;
                  @media (max-width: 1510px) and (min-width: 1400px) { 
                    display: none;   
                  }
                }
                span {
                  color: $theme-body-sub-title-color;
                  font-weight: 600;
                  @media (max-width: 1510px) and (min-width: 1400px) { 
                    display: none;   
                  }
                }
              }
            }
            h6 {
              font-weight: 600;
            }
            span {
              color: $theme-body-sub-title-color;
              font-weight: 600;
            }
            p{
              padding: 7px;
              text-align: center;
              border-radius: 4px;
              font-weight: 600;
            }
            &:nth-child(2) {
              @media (max-width: 1399px) and (min-width: 1200px) { 
                display: none; 
              }
              @media (max-width: 1199px) { 
                min-width: 113px;
              }
            }
          }
        }
      }
    }
  }
  .sales-pipeline {
    &.card {
      overflow: hidden;
    }
  }
  .pipeline-card{
    .row {
      > div {
        @media (max-width: 1366px) and (min-width: 992px) { 
          &:first-child{
            width: 100%;
          }
          &:last-child{
            display: none;
          } 
        }
        @media (max-width: 767px) and (min-width: 576px) { 
          &:first-child{
            width: 100%;
          }
          &:last-child{
            display: none;
          } 
        }
        @media (max-width: 380px) {
          width: 100%;
        }
      }
    }
    h6 {
      color: $theme-body-sub-title-color;
      font-weight: 600;
      margin-bottom: 25px;
      @media (max-width: 1748px) and (min-width: 1200px) {
        margin-bottom: 15px;
      }
      span {
        color: rgba($primary-color , 1);
        font-weight: 800;
        font-size: 16px;
      }
    }
    .d-flex{
      padding-bottom: 10px;
      &:last-child{
        padding-bottom: 0px;
      }
      .flex-shrink-0{
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .flex-grow-1{
        h6 {
          margin-bottom: 0;
          color: $theme-body-sub-title-color;
          font-weight: 600;
          text-overflow:ellipsis;
          overflow:hidden;
          display: -webkit-box !important;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          white-space: normal;
        }
      }
    }
  }
  .reports-card{
    background-image: radial-gradient(50% 50% at 50% 50%, rgba($primary-color , 0.8 ) 0%, rgba($primary-color , 1) 100%);
    position: relative;
    .card-body{
      background-image: url(../../assets/images/dashboard-2/reports.png);
      background-repeat: no-repeat;
      background-position: bottom right; 
      padding: 30px 26px;
      @media (max-width: 1800px) {
        background-image: none;
      }
      @media (max-width: 1366px) and (min-width: 576px) {
        padding: 30px 12px;
      }
      @media (max-width: 575px) {
        padding: 30px 10px;
      }
      h3 {
        font-size: 24px;
        color: $white;
        margin-bottom: 4px;
        @media (max-width: 1800px) {
          text-align: center;
        }
        @media (max-width: 1240px) and (min-width: 768px) { 
          font-size: 21px;
        }
        @media (max-width: 767px) and (min-width: 576px) {
          font-size: 18px;
        }
      }
      p{
        width: calc(100% - 200px);
        color:rgba($white , 0.7);
        margin-bottom: 36px;
        font-weight: 600;
        @media (max-width: 1800px) {
          width: 100%;
          text-align: center;
        }
        @media (max-width: 1366px) and (min-width: 1200px) { 
          margin-bottom: 22px;
        }
        @media (max-width: 767px) and (min-width: 576px) { 
          text-overflow:ellipsis;
          overflow:hidden;
          display: -webkit-box !important;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
        }
        @media (max-width: 575px) {
          margin-bottom: 15px;
        }
      }
      a{
        padding: 8px 18px;
        background-color: $white;
        border-radius: 4px;
        display: block;
        width: fit-content;
        font-weight: 700;
        @media (max-width: 1800px) {
          margin: 0 auto;
        }
      }
    }
  }
  .recent-order-card{
    table{
      thead{
        tr {
          th{
            .form-check{
              input {
                height: 15px;
              }
            }
            color: $theme-body-sub-title-color;
            font-weight: 600;
            &:nth-child(4) {
              @media (max-width: 1680px) and (min-width: 1200px) { 
                display: none; 
              }
            }
            &:nth-child(3) {
              @media (max-width: 1399px) and (min-width: 1200px) { 
                display: none; 
              }
            }
          }
        }
      }
      tbody{  
        tr {
          &:last-child{
            td {
              border-bottom: none;
              padding-bottom: 0;
            }
          }
          td {
            border-top: 0px;
            .form-check{
              input {
                height: 15px;
              }
            }
            .d-flex{
              .flex-shrink-0{
                img {
                  border-radius: 50px;
                }
              }
              .flex-grow-1{
                a {
                  span {
                    font-weight: 600;
                    color: $theme-body-sub-title-color;
                  }
                }
              }
            }
            p {
              font-weight: 600;
              color: $theme-body-sub-title-color;
            }
            >span {
              padding: 6px;
              border-radius: 3px;
              min-width: 66px;
              text-align: center;
              font-weight: 600;
            }
            &:nth-child(2) {
              @media (max-width: 1199px) {
                min-width: 192px;
              }
            }
            &:nth-child(5) {
              @media (max-width: 1680px) and (min-width: 1200px) { 
                display: none; 
              }
              @media (max-width: 1199px) {
                min-width: 176px;
              }
            }
            &:nth-child(4) {
              @media (max-width: 1399px) and (min-width: 1200px) { 
                display: none; 
              }
            }
          }
        }
      }      
    }
  }
  .support-box-card{
    .d-flex{
      padding: 12px 0;
      border-bottom: 1px solid $light-gray;
      &:last-child{
        border-bottom: none;
        padding-bottom: 0;
      }
      &:first-child{
        padding-top: 0;
      }
      .flex-shrink-0{
        img {
          border-radius: 50%;
        }
      }
      .flex-grow-1{
        h6 {
          @media (max-width: 480px) {
            margin-top: 5px;
          }
        }
        p{
          color: $theme-body-sub-title-color;
          font-weight: 600;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box !important;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
          @media (max-width: 480px) {
            line-height: 1.2;
            margin: 7px 0;
          }
        }
      }
      span {
        background-color: $gray-200;
        padding: 7px 5px;
        min-width: 92px;
        font-weight: 600;
        @media (max-width: 1366px) and (min-width: 992px) { 
          display: none;
        }
        @media (max-width: 767px) and (min-width: 576px) { 
          display: none;
        }
      }
      @media (max-width: 480px) {
        display: block !important;
        text-align: center;
      }
    }
    .gap-3 {
      @media (max-width: 1500px) { 
        gap: 0.5rem !important; 
      }
    }
  }
  .product-heading {
    h3 {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 800;
      gap: 5px;
      @media (max-width: 575px) {
        flex-direction: column;
        align-items: start;
        gap: 0;
      }
      span {
        font-size: 14px;
        font-weight:700;
        color: $theme-body-sub-title-color;
        @media (max-width: 1500px) and (min-width: 576px) { 
          display: none;   
        }
      }
    }
  }
  div.dataTables_wrapper {
    position: unset;
    div.dataTables_filter {
      position: absolute;
      top: 15px;
      right: 22px;
      @media (max-width: 575px) {
        top: 60px;
        right: 18px;
        [dir="rtl"] & {
          left: 18px;
          right: unset;
        }
      }
      [dir="rtl"] & {
        left: 22px;
        right: unset;
      }
      input[type=search] {
        width: 150px !important;
        height: 34px;
        border-radius: 6px;
      }
    }
    table.dataTable {
      margin-top: 13px !important;
      border: none;
      font-family: $font-nunito-sans;
      @media (max-width: 575px) {
        margin-top: 42px !important;
      }
      &.display {
        tbody {
          tr.odd,
          tr.even {
            background-color: transparent !important;
            >.sorting_1 {
              background-color: transparent !important;
            }
          }
        }
      }
      thead {
        >tr {
          >th {
            text-transform: capitalize;
            font-weight: 600;
            &:before,
            &:after {
              display: none !important;
            }
          }
        }
      }
      tbody {
        >tr {
          >td {
            font-weight: 600;
          }
        }
      }
    }
  }
}
// /**=====================
//     3.9 Dashboard_2 CSS End
// ==========================**/