mixin breadcrumb(items,pagetitle)
  .page-title.w-auto
      h4.f-w-700= pagetitle
      nav
        ol.breadcrumb.justify-content-sm-start.align-items-center.mb-0
          li.breadcrumb-item
            a(href='index.html') 
              i(data-feather='home')
          each pagename, index in items
            li.breadcrumb-item.f-w-400(class=`${(index === items.length - 1 ?'active':'')}`)= pagename