// Page Sub Header Start
.left-header.main-sub-header.p-0
    .left-menu-header
        //- ul.app-list
        //-   li.onhover-dropdown
        //-     .app-menu 
        //-       i(data-feather="folder-plus")
        //-     ul.onhover-show-div.left-dropdown
        //-       li 
        //-         a(href="file-manager.html") File Manager
        //-       li 
        //-         a(href="kanban.html")  Kanban board
        //-       li 
        //-         a(href="social-app.html")  Social App
        //-       li 
        //-         a(href="bookmark.html")  Bookmark
        ul.header-left 
            li.onhover-dropdown
                span.f-w-500 General
                ul.onhover-show-div.left-dropdown
                    li.flyout-right
                        a(href='scrollable.html') Dashboards
                        ul
                            li 
                                a(href="projects.html") Advanced 
                            li 
                                a(href="projectcreate.html") CRM
                    li.flyout-right
                        a(href='tree.html') Widgets
                        ul
                            li 
                                a(href="projects.html") General
                            li 
                                a(href="projectcreate.html") General
                    li.flyout-right
                        a(href='toasts.html') Page layout
                        ul
                            li 
                                a(href="projects.html") Boxed 
                            li 
                                a(href="projectcreate.html") RTL
                            li 
                                a(href="projects.html") Dark Layout
                            li 
                                a(href="projectcreate.html") Hide Nav Scroll
            li.onhover-dropdown
                span.f-w-500 Components
                ul.onhover-show-div.left-dropdown
                    li.flyout-right
                        a(href='add-products.html') Ui Kits
                        ul
                            li
                                a(href='typography.html') Typography
                            li
                                a(href='avatars.html') Avatars
                            li
                                a(href='helper-classes.html') helper classes
                            li
                                a(href='grid.html') Grid
                            li
                                a(href='tag-pills.html') Tag & pills
                            li
                                a(href='progress-bar.html') Progress
                            li
                                a(href='modal.html') Modal
                            li
                                a(href='alert.html') Alert
                            li
                                a(href='popover.html') Popover
                            li
                                a(href='tooltip.html') Tooltip
                            li
                                a(href='dropdown.html') Dropdown
                            li
                                a(href='according.html') Accordion
                            li
                                a(href='tab-bootstrap.html') Tabs
                            li
                                a(href='list.html') Lists

                    li.flyout-right
                        a(href='product.html')
                        ul
                            li
                                a(href='scrollable.html') Scrollable
                            li
                                a(href='tree.html') Tree view
                            li
                                a(href='toasts.html') Toasts
                            li
                                a(href='rating.html') Rating
                            li
                                a(href='dropzone.html') dropzone
                            li
                                a(href='tour.html') Tour
                            li
                                a(href='sweet-alert2.html') SweetAlert2
                            li
                                a(href='modal-animated.html') Animated Modal
                            li
                                a(href='owl-carousel.html') Owl Carousel
                            li
                                a(href='ribbons.html') Ribbons
                            li
                                a(href='pagination.html') Pagination
                            li
                                a(href='breadcrumb.html') Breadcrumb
                            li
                                a(href='range-slider.html') Range Slider
                            li
                                a(href='image-cropper.html') Image cropper
                            li
                                a(href='basic-card.html') Basic Card
                            li
                                a(href='creative-card.html') Creative Card
                            li
                                a(href='dragable-card.html') Draggable Card
                            li
                                a(href='timeline-v-1.html') Timeline 
                    li.flyout-right
                        a(href='product-page.html') Animation
                        ul
                            li
                                a(href='animate.html') Animate
                            li
                                a(href='scroll-reval.html') Scroll Reveal
                            li
                                a(href='AOS.html') AOS animation
                            li
                                a(href='tilt.html') Tilt Animation
                            li
                                a(href='wow.html') Wow Animation
                    li.flyout-right
                        a(href='list-products.html') Icons
                        ul
                            li
                                a(href='flag-icon.html') Flag icon
                            li
                                a(href='font-awesome.html') Fontawesome Icon
                            li
                                a(href='ico-icon.html') Ico Icon
                            li
                                a(href='themify-icon.html') Themify Icon
                            li
                                a(href='feather-icon.html') Feather icon
                            li
                                a(href='whether-icon.html') Whether Icon
                    li.flyout-right
                        a(href='payment-details.html') Buttons
                        ul
                            li
                                a(href='buttons.html') Default Style
                            li
                                a(href='button-group.html') Button Group
                    li.flyout-right
                        a(href='order-history.html') Charts
                        ul
                            li
                                a(href='echarts.html') Echarts
                            li
                                a(href='chart-apex.html') Apex Chart
                            li
                                a(href='chart-google.html') Google Chart
                            li
                                a(href='chart-sparkline.html') Sparkline chart
                            li
                                a(href='chart-flot.html') Flot Chart
                            li
                                a(href='chart-knob.html') Knob Chart
                            li
                                a(href='chart-morris.html') Morris Chart
                            li
                                a(href='chartjs.html') Chatjs Chart
                            li
                                a(href='chartist.html') Chartist Chart
                            li
                                a(href='chart-peity.html') Peity Chart
            li.onhover-dropdown 
                span.f-w-500 Applications
                ul.onhover-show-div.left-dropdown
                    li.flyout-right
                        a(href='projects.html') Project
                        ul
                            li
                                a(href='projects.html') Project List
                            li
                                a(href='projectcreate.html') Create new
                    li
                        a(href='projectcreate.html') File manager
                    li
                        a(href='projectcreate.html') kanban Board
                    li.flyout-right
                        a(href='projectcreate.html') Ecommerce
                        ul
                            li
                                a(href='add-products.html') Add Product
                            li
                                a(href='product.html') Product
                            li
                                a(href='product-page.html') Product page
                            li
                                a(href='list-products.html') Product list
                            li
                                a(href='payment-details.html') Payment Details
                            li
                                a(href='order-history.html') Order History
                            li.flyout-right
                                a.submenu-title(href='#') Invoices
                                ul
                                    li
                                        a(href='invoice-1.html') Invoice-1
                                    li
                                        a(href='invoice-2.html') Invoice-2
                                    li
                                        a(href='invoice-3.html') Invoice-3
                                    li
                                        a(href='invoice-4.html') Invoice-4
                                    li
                                        a(href='invoice-5.html') Invoice-5
                                    li
                                        a(href='invoice-template.html') Invoice-6
                            li
                                a(href='cart.html') Cart
                            li
                                a(href='list-wish.html') Wishlist
                            li
                                a(href='checkout.html') Checkout
                            li
                                a(href='pricing.html') Pricing  
                    li.flyout-right
                        a(href='projectcreate.html') Email
                        ul
                            li
                                a(href='email-application.html') Email App
                            li
                                a(href='email-compose.html') Email Compose
                            li
                                a(href='letter-box.html') Letter Box
                    li.flyout-right
                        a(href='projectcreate.html') Chat
                        ul
                            li
                                a(href='private-chat.html') Private Chat
                            li
                                a(href='group-chat.html') Group Chat
                    li.flyout-right
                        a(href='projectcreate.html') User
                        ul
                            li
                                a(href='user-profile.html') Users Profile
                            li
                                a(href='edit-profile.html') Users Edit
                            li
                                a(href='user-cards.html') Users Cards
                    li
                        a(href='bookmark.html') Bookmarks
                    li
                        a(href='contacts.html') Contacts
                    li
                        a(href='task.html') Task
                    li
                        a(href='calendar-basic.html') Calendar
                    li
                        a(href='social-app.html') Social-app
                    li
                        a(href='to-do.html') To-Do
                    li
                        a(href='search.html') Search Result
            li.onhover-dropdown.p-0
                span.f-w-500 Pages
                ul.onhover-show-div.left-dropdown
                    li
                        a(href='blog.html') Landing page
                    li
                        a(href='blog-single.html') Sample page
                    li
                        a(href='add-post.html') Starter kit
                    li.flyout-right
                        a(href='add-post.html') Others
                        ul 
                            li.flyout-right
                                a(href='search.html')  Error Page
                                ul
                                    li
                                        a(href='error-400.html') Error 400
                                    li
                                        a(href='error-401.html') Error 401
                                    li
                                        a(href='error-403.html') Error 403
                                    li
                                        a(href='error-404.html') Error 404
                                    li
                                        a(href='error-500.html') Error 500
                                    li
                                        a(href='error-503.html') Error 503
                            li.flyout-right
                                a(href='search.html')  Authentication
                                ul
                                    li
                                        a(href='login.html' target="_blank") Login Simple
                                    li
                                        a(href='login_one.html' target="_blank") Login with bg image
                                    li
                                        a(href='login_two.html' target="_blank") Login with image two                      
                                    li
                                        a(href='login-bs-validation.html' target="_blank") Login With validation
                                    li
                                        a(href='login-bs-tt-validation.html' target="_blank") Login with tooltip
                                    li
                                        a(href='login-sa-validation.html' target="_blank") Login with sweetalert
                                    li
                                        a(href='sign-up.html' target="_blank") Register Simple
                                    li
                                        a(href='sign-up-one.html' target="_blank") Register with Bg Image                              
                                    li
                                        a(href='sign-up-two.html' target="_blank") Register with image two
                                    li
                                        a(href='sign-up-wizard.html' target="_blank") Register wizard
                                    li
                                        a(href='unlock.html') Unlock User
                                    li
                                        a(href='forget-password.html') Forget Password
                                    li
                                        a(href='reset-password.html') Reset Password
                                    li
                                        a(href='maintenance.html') Maintenance
                            li.flyout-right
                                a(href='search.html')  Coming Soon
                                ul
                                    li
                                        a(href='comingsoon.html') Coming Simple
                                    li
                                        a(href='comingsoon-bg-video.html') Coming with Bg video
                                    li
                                        a(href='comingsoon-bg-img.html') Coming with Bg Image
                            li.flyout-right
                                a(href='search.html')  Email templates
                                ul
                                    li
                                        a(href='basic-template.html') Basic Email
                                    li
                                        a(href='email-header.html') Basic With Header
                                    li
                                        a(href='template-email.html') Ecomerce Template
                                    li
                                        a(href='template-email-2.html') Email Template 2
                                    li
                                        a(href='ecommerce-templates.html') Ecommerce Email
                                    li
                                        a(href='email-order-success.html') Order Success

