// Page Sub Header Dropdwon Start
.header-logo-wrapper.col-auto.p-0
    .logo-wrapper
        svg.toggle-sidebar.sidebar-toggle.stroke-icon
                use(href='../assets/svg/icon-sprite.svg#menu')